@font-face {
  font-family: Unbounded;
  src: url('./app/assets/fonts/Unbounded/Unbounded-Bold.ttf');
}

@font-face {
  font-family: Urbanist;
  src: url('./app/assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
  color: #1d1a05;
}

body {
  margin: 0;
  font-family: 'Urbanist', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Unbounded';
}

h1 {
  font-size: 3em;
}